#menuScreen #startButton {
    height: 130px;
    width: 160px;
    border-radius: 500px;
    color: white;
    font-size: 40px;
    font-style: italic;
    background: red;
    text-align: center;
    line-height: 130px;
    cursor: pointer;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

#menuScreen {
    z-index: 3;
}

#menuScreen .status {
    color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

#menuScreen #turn {
    color: red;
    position: absolute;
    top: 30px;
    font-size: 30px;
    left: 30px;
}

#menuScreen #dynamicHelp {
    background: red;
    height: 50px;
    width: 100px;
    border-radius: 100px;
    text-align: center;
    color: white;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#menuScreen #random {
    background: red;
    height: 50px;
    width: 100px;
    border-radius: 100px;
    text-align: center;
    color: white;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#menuScreen #startButton:hover,
#menuScreen #random:hover,
#menuScreen #dynamicHelp:hover {
    background: rgb(180, 0, 0);
}

#menuScreen #startButton.disable,
#menuScreen #random.disable {
    filter: grayscale(100%);
    cursor: default;
}

#menuScreen #startButton.disable:hover,
#menuScreen #random.disable:hover {
    background: red;
}

#helpWindow {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    animation-timing-function: ease-in;
}

#helpWindow.animuj {
    width: 40%;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    z-index: 2;
}

#cross {
    font-size: 200%;
    text-align: center;
    line-height: 50px;
    color: white;
    width: 50px;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: red;
    border-radius: 50%;
}

#cross:hover {
    background-color: rgb(180, 0, 0);
}